html{
    font-family: 'Montserrat', sans-serif;
}
 
::-webkit-scrollbar{
    display: none;
}

.altezza{
    height: calc(100vh - 62px);

}

.sidebar{
    background-image: url(./img/sidebar-bg.png);
    width: 10%;
}
